/Lab_1_AED/build/
/AED_1_5_Lab/nbproject/private/
/AED_1_5_Lab/build/
/AED_Homework_1/build/
/Lab2_Aed/nbproject/private/
/Lab2_Aed/build/
/Lab2_Aed/dist/
/Homework_Assignment_2/nbproject/private/
/Homework_Assignment_2/build/
/Homework_Assignment_2/dist/
/HomeWork3/nbproject/private/
/HomeWork3/build/
/Lab_3_AED/nbproject/private/
/Lab_3_AED/build/
/Lab_3_AED/dist/
/HomeWork4/nbproject/private/
/HomeWork4/build/
/lab4_skeleton/build/
/lab4_skeleton/nbproject/private/
/Lab4_Aed/nbproject/private/
/Lab4_Aed/build/
/Lab4_Aed/dist/